extends layout

append content
  header
    center
      h1
        span.title=title
  div.container
    div.row
      div.col-xs-2.col-xs-offset-5
        /// TODO: This is deprecated
        center
          button.btn.btn-primary(id="refresh") Refresh
  div.container
    div.row
      div.col-xs-10.col-xs-offset-1.card-container.item-col
        ul.item-list(id="results")

  block loading
    // Loading Overlay
    div.container
      div.card-overlay(id="loader")
        div.cssload-loader
          div.cssload-inner.cssload-one
          div.cssload-inner.cssload-two
          div.cssload-inner.cssload-three

append userScripts
  script(type="text/babel" src="/js/scanner/app.js")
  script(type="text/babel" src="/js/scanner/main.js")
