extends layout

append content
  header
    center
      h1
        span.title=title
  div.container
    div.row
      div.col-xs-10.col-xs-offset-1.card-container.item-col
        ul.item-list
          li.item Item
          li.item Item
          li.item Item
          li.item Item
          li.item Item
          li.item Item

